<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haoduyoudu.DailyAccounts">

    <uses-sdk tools:overrideLibrary="com.hw.videoprocessor" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".guideInterface"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/DialogActivityTheme"/>
        <activity
            android:name=".more_ac2"
            android:exported="false"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".forget_password"
            android:exported="false" />
        <activity
            android:name=".Settingpage"
            android:exported="false" />
        <activity
            android:name=".inputpassword"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".cel_background"
            android:exported="false" />
        <activity
            android:name=".caidan"
            android:exported="false" />
        <activity
            android:name=".prewiew_dailyaccount"
            android:exported="false"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".more_ac"
            android:exported="false"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".edit_daily_text"
            android:exported="false"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".CelSticker"
            android:exported="false"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".MoreMoodsclect"
            android:exported="false" />
        <activity
            android:name=".SayHello"
            android:theme="@style/DialogActivityTheme" />
        <activity

            android:name=".Moodcalendar"
            android:theme="@style/AppThemesharp" />
        <activity android:name=".select_template" />
        <activity
            android:name=".aboutsoftware"
            android:launchMode="singleTask" />
        <activity
            android:name=".needtodelete"
            android:theme="@style/DialogActivityTheme" />
        <activity
            android:name=".showfind"
            android:theme="@style/AppThemesharp" />
        <activity android:name=".find" />
        <activity
            android:name=".showdailyaccount"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:launchMode="singleTask"
            android:requestLegacyExternalStorage="false"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.StartingWindowTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".showaudio" />
        <activity
            android:name=".sound_recording_dialog"
            android:theme="@style/DialogActivityTheme" />
        <activity android:name=".showvideo" />
        <activity android:name=".showimage" />
        <activity android:name=".Select_media_access" />
        <activity android:name=".DailyAccounts" />
    </application>

</manifest>